<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/book-add']"> <mat-icon>add</mat-icon> </a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="ISBN" formControlName="isbn" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched">Please enter ISBN valid</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">Please enter a valid title</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Author" formControlName="author" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched">Please enter a valid author</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">Please enter a valid description</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="Publisher" formControlName="publisher" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('publisher').valid && bookForm.get('publisher').touched">Please enter a valid Publisher</span>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input  matInput placeholder="PublishedYear" formControlName="publishedYear" [errorStateMatcher]="matcher">
                <!-- <mat-error>
                    <span *ngIf="!bookForm.get('publishedYear').valid && bookForm.get('publishedYear').touched">Please enter a valid date</span>
                </mat-error> -->
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!bookForm.valid" mat-flat-button color="primary"><mat-icon>Save</mat-icon></button>
            </div>
        </form>
    </mat-card>
