<li [ngClass]="{'list-group-item' : true, 'list-group-item-success' : appareilStatus === 'allumé', 'list-group-item-danger' : appareilStatus === 'éteint'}">
    <div style="height: 20px; width: 20px; background-color: red;" *ngIf="appareilStatus === 'éteint' "></div>
    <h4 [ngStyle]="{color : getColor()}"> Appareil : {{ appareilName }}  -- Status : {{ getStatus() }}</h4>
    <input type="text" class="form-control" [(ngModel)]="appareilName">
    <!-- cette façon de lier les crochets et parenthèses et le two way binding (du code vers le template et inversement fonctionne grâce à l'import du formsmodule ds app.module) -->
</li>